
@font-face {
    src: url(pics/Chalk.ttf);
    font-family: Chalk;
}
.card {
    font-family:mono;
    border:0px solid transparent;
}
.backPic {
    background-color:#1f242e;
}
.backWhite {
    background-color:white;
}
.textColor {
    color:#FF9200;
}
.chalk {
    font-family: chalk;
}
.links {
    margin: 1%;
}


a {color:black;}

div > p > a {
  color:#ac885e;
}


div > div > a:hover {
  text-decoration: none;
  color:black;
}

.helvetica{
  font-family: Helvetica;
}

.margin-left{
    margin-left: 10%;
    line-height: 9px;
}

hr {
    display:block;
    border-width: 2px;
    border-color: grey;
}
.marg {margin:4%;}
.marg2 {margin:2%;}
.colorBlack {color: black;}




/*Aug 2019 code*/

/* responsive magic */

@media screen and (max-width: 899px) and (-webkit-min-device-pixel-ratio: 1.0) {

    p {
        font-size: 1.5rem;
    }

    .main-div {
        padding: 0.2%;
    }

    .toplink {
        font-size: 2rem;
    }
}



/* cleaner replacement for the toplink class*/

div.links > a {
    background-color: #ac885e;
    color: #FFFFFF;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: currentcolor;
    font-size: 16px;
    margin-left: 2%;
}

div.links > a:link {
    text-decoration: none;
}
div.links > a:hover {
    color: black;
}

.main-div {
    padding: 1%;
}